/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wds-slider {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	.swiper-pagination {
		position: relative;
		margin-top: 100px;
	}

	.thumbs-nav {
		.swiper-wrapper {
			display: flex;
			justify-content: center;
			.swiper-slide {
				&.square-thumbs {
					aspect-ratio: 1;
				}
				&.rect-thumbs {
					aspect-ratio: 3/2;
				}
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
